.btn {
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Raleway regular", sans-serif;
  &:active {
    transform: translateY(1px);
  }
  &-header {
    border: 1px solid #fff;
    color: #fff;
    padding: 17px 109px 15px 28px;
    background: none;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    align-items: center;
    position: relative;
    img {
      position: absolute;
      width: 18px;
      transform: rotate(180deg);
      right: 27px;
    }
    // span {
    //   transition: 0.1s;
    // }
    &:hover {
      // span {
      transform: scale(1.02);
      // }
    }
  }
  &-subscribe {
    border-radius: 20px;
    background: #db272f;
    padding: 12px 14px 10px 14px;
    font-weight: 600;
    border: none;
    color: #fff;
    width: 166px;
    font-size: 14px;
  }
  &-modal-small {
    background: #2c256b;
    border-radius: 20px;
    padding: 11px 14px 11px 14px;
    font-weight: 600;
    border: none;
    color: #fff;
    width: 166px;
    font-size: 14px;
    border: 1px solid #2c256b;
    &:hover {
      background: #fff;
      color: #2c256b;
      border: 1px solid #2c256b;
    }
  }
  &-distribution {
    background: #2d2a6a;
    padding: 20px 20px 20px 20px;
    font-weight: 600;
    border: none;
    color: #fff;
    font-size: 20px;
    border: 1px solid #2c256b;
    text-transform: uppercase;
    &.transparent {
      background: none;
      color: #2c256b;
      font-weight: 300;
    }
  }
  &-contacts {
    width: 100%;
    padding: 18px 20px;
    background: #db272f;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    font-weight: 600;
  }

}
