.contacts-page {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  .top-panel {
    background: url(../img/contactblue.png);
    padding: 46px 0 47px;
    
    &__title {
      img {
        width: 52px;
        margin: 6px 0 0 38px;
      }
    }
  }
  .bottom-panel {
    margin-top: 49px;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .title {
    font-size: 24px;
    margin: 75px 0 33px;
    text-transform: uppercase;
    &:after {
      content: "";
      height: 4px;
      width: 114px;
      background: #db272f;
      display: block;
      margin: 10px 0 24px;
    }
  }



  .map {
    width: calc(100% - 449px);
    border: 1px solid #f4f4fd;
  }

  ul {
    margin-top: 28px;
    li {
      color: #484848;
      font-size: 16px;
      margin-bottom: 31px;
      display: flex;
      align-items: center;
      &:nth-child(2) {
        img {
          width: 18px;
          margin-left: 1px;
        }
      }
      &:nth-child(3) {
        img {
          width: 19px;
        }
      }
      img {
        width: 20px;
        margin-right: 10px;
      }
      .phone-number {
        cursor: pointer;
        margin-left: 4px;
      }
    }
  }
}
