.distribution-page {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .top-panel {
    background: url(../img/distblue.jpg);
    padding: 55px 0 58px;
        
    &__title {
      &--img {
        position: relative;
        display: inline-block;
        top: -9px;
        left: 17px;
         > div:first-child {
          background: url(../img/animation/botl/mass-production-1.svg) ;
          background-repeat: repeat-x;
          // background-size: cover;
          width: 74px;
          height: 58px;
          position: absolute;
          animation: 5s bgAnim linear infinite;
          background-position: 0 0;
          top: -41px;
          left: 7px
         }
         > div:last-child {
          background: url(../img/animation/botl/mass-production.svg);
          // background-size: cover;
          width: 90px;
          height: 58px;
          position: absolute;
          background-position: 0 0;
          top: 10px;
         }
      }
    }
  }
  .bottom-panel {
    margin-top: 0;
  }

  .map {
    width: 100%;
    display: flex;
    background: #f4f4fd;
    &__image {
      width: calc(66% + 5px);
      position: relative;
      overflow: hidden;
      &:after {
        content: '';
        height: 100%;
        position: absolute;
        width: 100px;
        right: 0;
        top: 0;
        background: rgba(255,255,255,0);
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(250,250,254,0) 42%, rgba(244,244,253,0.98) 99%, rgba(244,244,253,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(42%, rgba(250,250,254,0)), color-stop(99%, rgba(244,244,253,0.98)), color-stop(100%, rgba(244,244,253,1)));
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(250,250,254,0) 42%, rgba(244,244,253,0.98) 99%, rgba(244,244,253,1) 100%);
        background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(250,250,254,0) 42%, rgba(244,244,253,0.98) 99%, rgba(244,244,253,1) 100%);
        background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(250,250,254,0) 42%, rgba(244,244,253,0.98) 99%, rgba(244,244,253,1) 100%);
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(250,250,254,0) 42%, rgba(244,244,253,0.98) 99%, rgba(244,244,253,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4fd', GradientType=1 );
      }
      img, svg {
        width: 100%;
        object-fit: cover;
        height: 873px;
        display: block;
      }
      svg {
       
        rect {
          fill: #2d2a6a;
        }
        text {
          // color: #fff;
          fill: #fff;
          font: 600 13px "Raleway regular", sans-serif; 
        }
        @keyframes dash {
          from {
            stroke-dashoffset: 320;
          }
          to {
            stroke-dashoffset: 0;
          }
        }

        .path {
          animation: dash 30s linear infinite;
          stroke-dasharray: 320;
          stroke-dashoffset: 0;
          stroke-width: 2; stroke-dasharray: 3, 8; stroke-linecap: round;
        }
      }
    }
    &__info {
      width: calc(34% - 5px);
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      padding-bottom: 30px;
      &-buttons {
        width: 100%;
        a {
          &:first-child .btn{
            width: 250px;
          }
          &:last-child .btn{
            width: 200px;
          }
        }
        .btn {
          margin-right: 7px;

        }
      }
      &-title {
        text-transform: uppercase;
        font-weight: 600;
        width: 100%;
        margin-top: 58px;
        margin-bottom: 10px;
         & ~ .map__info-title{
           margin-top: 51px;
         }
      }
      &-text {
        width: 100%;
        max-width: 420px;
        line-height: 1.5em;
      }
      ul {
        width: 100%;
        margin-top: 2px;
        li {
          position: relative;
          margin-bottom: 24px;
          display: flex;
          align-items: flex-start;
          width: 400px;
          line-height: 1.5em;
          &:before {
            content: '';
            background: #2c256b;
            width: 11px;
            height: 11px;
            margin-right: 20px;
            margin-top: 5px;
            display: block;
          }
        }
      }
    }
  }
  .text-block {
    background: #2d2a6a;
    width: 100%;
    color: #bcbbcb;
    padding: 57px 0 50px 0;
    line-height: 1.5em;
  }
}


@keyframes bgAnim {
  0% {

    background-position: 0 0;
  }

  100% {
  
    background-position: 74px 0;
  }
}


