footer {
    background: #2c256b;
    padding: 13px 0;
    border-top: 4px solid #bb2b31;
    position: relative;

    @media screen and (max-width: 1024px) {
        display: none;
    }
    .container {
        display: flex;
        max-width: 1254px;
        justify-content: space-between;
    }
    .copyright {
        color: #a09dbc;
        font-size: 12px;
    }
}