.home-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0;
  height: calc(100% - 44px);
  .header-image {
    width: 54%;
    background: url(../img/main-header-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100% - 150px - 44px);
  }

  .header-description {
    width: 46%;
    color: #fff;
    background: #2c256b;
    height: calc(100% - 150px - 44px);
    display: flex;
    align-items: center;
    .container {
      padding: 100px 54px 0;
    }
    &__title {
      font-size: 72px;
      font-weight: 600;
      margin-top: 14px;
      letter-spacing: 0.1px;
      line-height: 1em;
      span {
        font-size: 46px;
        letter-spacing: 1px;
        position: relative;
        margin-top: 9px;
        display: block;
        font-weight: 300;
        &:after {
          content: "";
          height: 3px;
          width: 109px;
          background: #db272f;
          display: block;
          margin: 11px 0px 25px 0;
        }
      }
    }
    &__subtitle {
      font-size: 36px;
      display: flex;
      align-items: flex-end;
      letter-spacing: 0.4px;
      img {
        margin-right: 2px;
        width: 36px;
        height: 94px;
        display: block;
        letter-spacing: 0.4px;
        margin-bottom: 6px;
      }
    }
    &__text {
      font-size: 16px;
      width: 70%;
      line-height: 1.5em;
    }
    .btn {
      margin-top: 40px;
    }
  }
  .socials {
    position: absolute;
    right: 0;
    top: 0px;
    bottom: 13px;
    margin: auto;
    display: flex;
    height: 118px;
    width: 49px;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    &__item {
      width: 49px;
      height: 49px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        transition: 0.1s;
      }
      &:hover {
        img {
          transform: scale(1.08);
        }
      }

      &:first-child img {
        width: 21px;
      }
      &:last-child img {
        width: 30px;
        margin-top: 1px;
      }
    }
  }

  .slick {
    width: 100%;
    &__item {
      height: 140px;
      padding: 0px 0;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0px 10px;
      outline: none;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(255,255,255, 0.55);
        opacity: 0;
        visibility: hidden;
        transition: 0.2s;
      }
      &:hover {
        .slick__item--img {
          transform: scale(1.05);
        }
        &:after {
          opacity: 1;
          visibility: visible;
          transform: scale(1.05);
        }
      }
      &--img {
        width: 100%;
        height: 107px;
        object-fit: cover;
        transition: 0.2s; 
      }
      &--text {
        font-size: 14px;
        color: #373737;
        text-align: center;
        margin-top: 8px;
        width: 100%;
      }
    }
  }

  .slick-slider-wrapper {
    width: 100%;
    // height: 200px;
    padding: 35px 40px 16px 40px;
    .slick-prev,
    .slick-next {
      border: none;
      top: 0;
      bottom: 0;
      cursor: pointer;
      outline: none;
      transition: 0.1s;
      bottom: 34px;
      top: 0;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        transform: scale(1.05);
      }
    }

    .slick-prev.slick-arrow {
      width: 32px;
      height: 50px;
      position: absolute;
      left: -34px;
      font-size: 0;
      background: #db272f;
      &:after {
        content: "";
        background: url(../img/left-arrow.svg) no-repeat;
        width: 17px;
        display: block;
        height: 17px;
      }
    }

    .slick-next.slick-arrow {
      width: 32px;
      height: 50px;
      position: absolute;
      right: -34px;
      font-size: 0;
      background: #db272f;
      &:after {
        content: "";
        background: url(../img/left-arrow.svg) no-repeat;
        width: 17px;
        display: block;
        height: 17px;
        transform: rotate(180deg);
      }
    }
  }
}
