.products-import-page {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  .top-panel {
    background: url(../img/contactblue.png);
    padding: 46px 0 47px;
  }
  .bottom-panel {
    margin-top: 82px;
  }
}
