@import "reset.scss";
@import "variables.scss";
@import "footer.scss";
@import "header.scss";
@import "buttons.scss";
@import "fonts.scss";
@import "modal.scss";
@import "home-page.scss";
@import "not-found-page.scss";
@import "about-page.scss";
@import "distribution-page.scss";
@import "products-page.scss";
@import "products-import-page.scss";
@import "career-page.scss";
@import "contacts-page.scss";
// @import "jquery.mCustomScrollbar.min.scss";

body {
  font-family: "Raleway regular", sans-serif;
}

.container {
  width: 100%;
  max-width: 1255px;
  min-width: 300px;
  margin: auto;
  padding: 0 40px;

  @media screen and (max-width: 600px) {
    padding: 0 20px;
  }
}

main {
  min-height: calc(100% - 44px);
  padding-top: 123px;
}

.top-panel {
  width: 100%;
  padding: 47px 0 46px 0;
  background-size: cover;
  align-self: flex-start;
  text-align: left;
  background-position: center !important;
  .container {
  }
  .breadcrumbs {
    &__item {
      font-size: 14px;
      color: #fff;
      letter-spacing: 0.2px;
      span {
        text-decoration: underline;
      }
      &:after {
        content: "/";
        margin: 0 3px 0 7px;
      }
      &:last-child {
        &:after {
          content: none;
        }
      }
    }
  }
  &__title {
    font-size: 48px;
    color: #fff;
    text-transform: uppercase;
    margin: 7px 0 0px;
    position: relative;
    @media screen and (max-width: 1280px) {
      font-size: 36px;
    }
    @media screen and (max-width: 1024px) {
      font-size: 32px;
    }
    @media screen and (max-width: 768px) {
      font-size: 28px;
    }
    @media screen and (max-width: 360px) {
      font-size: 24px;
    }
    &:after {
      content: "";
      height: 4px;
      width: 114px;
      background: #db272f;
      display: block;
      margin: 20px 0 24px;
    }
    img,
    svg {
      position: absolute;
    }
  }
  &__descr {
    font-size: 14px;
    color: #bcbbcb;
    line-height: 1.8em;
    letter-spacing: 0px;
  }
}

.bottom-panel {
  background: #f4f4fd;
  width: 100%;
  margin-top: 20px;
  padding: 15px 0;
  align-self: flex-end;
  @media screen and (max-width: 1024px) {
    display: none;
  }
  .container {
    max-width: calc(1355px);
    display: flex;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    .line {
      border-left: 1px solid #9895ba;
      margin: 0 66px 0 60px;
      height: 77px;
      align-self: center;
    }
    .logo {
      width: 218px;
      display: block;
      margin-right: 80px;
      img {
        width: 180px;
        display: block;
      }
    }
  }
  ul {
    padding-top: 26px;
    align-self: flex-start;
    li {
      text-align: left;
      margin-bottom: 11px;
      a {
        font-size: 16px;
        color: #77777b;
        font-weight: 400;
        letter-spacing: 0.4px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .form {
    text-align: left;
    width: 512px;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    align-items: flex-start;
    padding-top: 19px;
    &-title {
      width: 100%;
      letter-spacing: 0.1px;
    }
    input {
      width: 266px;
      background: none;
      border-radius: 20px;
      border: 1px solid #b3b1cd;
      padding: 12px 14px 10px 20px;
      outline: none;
      font-size: 14px;
      margin-right: 10px;
      font-family: "Raleway regular", sans-serif;
      margin-right: 23px;

      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #a9a8ad;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: #a9a8ad;
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        color: #a9a8ad;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: #a9a8ad;
      }
    }
  }
}

.application-form {
  width: 429px;
  input,
  textarea {
    width: 100%;
    background: none;
    border: 1px solid #d5d3e1;
    padding: 17px 14px 17px 20px;
    outline: none;
    font-size: 16px;
    margin-right: 10px;
    font-family: "Raleway regular", sans-serif;
    margin-right: 23px;
    margin-bottom: 19px;
    resize: none;
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #a9a8ad;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: #a9a8ad;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: #a9a8ad;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: #a9a8ad;
    }
  }
  input:last-of-type {
    margin-bottom: 12px;
  }
  textarea {
    padding-top: 25px;
    height: 145px;
    margin-bottom: 22px;
  }
}

[data-animate] {
  animation-fill-mode: forwards;
}

@keyframes slideinDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
  }

  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideinUp {
  from {
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
  }

  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideinRight {
  from {
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
  }

  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideinLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }

  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideinDiagonal {
  from {
    transform: translate(-200%, -200%);
    opacity: 0;
    visibility: hidden;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
  }
}
