@import "reset.scss";
@import "variables.scss";
@import "footer.scss";
@import "header.scss";
@import "buttons.scss";
@import "fonts.scss";
@import "home-page.scss";

body {
  font-family: "Raleway regular", sans-serif;
}

.container {
  width: 100%;
  max-width: 1304px;
  min-width: 300px;
  margin: auto;
  padding: 0 40px;

  @media screen and (max-width: 600px) {
    padding: 0 20px;
  }
}

main {
  overflow: hidden;
  min-height: calc(100% -36px);
}

