@import "reset.scss";
@import "variables.scss";
@import "footer.scss";
@import "header.scss";
@import "buttons.scss";
@import "fonts.scss";
@import "home-page.scss";
@import "not-found-page.scss";
@import "about-page.scss";

body {
  font-family: "Raleway regular", sans-serif;
}

.container {
  width: 100%;
  max-width: calc(1355px);
  min-width: 300px;
  margin: auto;
  padding: 0 40px;

  @media screen and (max-width: 600px) {
    padding: 0 20px;
  }
}

main {
}

.bottom-panel {
  background: #f4f4fd;
  width: 100%;
  // height: 200px;
  margin-top: 20px;
  padding: 15px 0;
  .container {
    display: flex;
    justify-content: space-between;
    // align-items: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    .line {
      border-left: 1px solid #9895ba;
      margin: 0 66px 0 60px;
      height: 77px;
      align-self: center;
    }
    .logo {
      width: 218px;
      display: block;
      margin-right: 80px;
      img {
        width: 180px;
        display: block;
      }
    }
  }
  ul {
    padding-top: 26px;
    align-self: flex-start;
    li {
      text-align: left;
      margin-bottom: 11px;
      a {
        font-size: 16px;
        color: #77777b;
        font-weight: 400;
        letter-spacing: 0.4px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .form {
    text-align: left;
    width: 512px;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    align-items: flex-start;
    padding-top: 19px;
    &-title {
      width: 100%;
      letter-spacing: 0.1px;
    }
    input {
      width: 266px;
      background: none;
      border-radius: 20px;
      border: 1px solid #b3b1cd;
      padding: 12px 14px 10px 20px;
      outline: none;
      font-size: 14px;
      margin-right: 10px;
      font-family: "Raleway regular", sans-serif;
      margin-right: 23px;
      
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #a9a8ad;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #a9a8ad;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: #a9a8ad;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #a9a8ad;
      }
    }
  }
}
